/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/ProyectoLAB3.iml
/.idea/vcs.xml
/.idea/uiDesigner.xml
/proyecto2/.gitignore
/proyecto2/.gradle/7.5.1/checksums/checksums.lock
/proyecto2/.gradle/7.5.1/checksums/md5-checksums.bin
/proyecto2/.gradle/7.5.1/checksums/sha1-checksums.bin
/proyecto2/.gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
/proyecto2/.gradle/7.5.1/dependencies-accessors/gc.properties
/proyecto2/.gradle/7.5.1/executionHistory/executionHistory.bin
/proyecto2/.gradle/7.5.1/executionHistory/executionHistory.lock
/proyecto2/.gradle/7.5.1/fileChanges/last-build.bin
/proyecto2/.gradle/7.5.1/fileHashes/fileHashes.bin
/proyecto2/.gradle/7.5.1/fileHashes/fileHashes.lock
/proyecto2/.gradle/7.5.1/fileHashes/resourceHashesCache.bin
/proyecto2/.gradle/7.5.1/gc.properties
/proyecto2/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/proyecto2/.gradle/buildOutputCleanup/cache.properties
/proyecto2/.gradle/buildOutputCleanup/outputFiles.bin
/proyecto2/.gradle/file-system.probe
/proyecto2/.gradle/vcs-1/gc.properties
/proyecto2/.idea/.gitignore
/proyecto2/.idea/compiler.xml
/proyecto2/.idea/gradle.xml
/proyecto2/.idea/jarRepositories.xml
/proyecto2/.idea/misc.xml
/proyecto2/.idea/uiDesigner.xml
/proyecto2/android/AndroidManifest.xml
/proyecto2/android/build.gradle
/proyecto2/android/build/generated/res/pngs/debug/drawable-anydpi-v21/ic_launcher_foreground.xml
/proyecto2/android/build/generated/res/pngs/debug/drawable-hdpi/ic_launcher_foreground.png
/proyecto2/android/build/generated/res/pngs/debug/drawable-ldpi/ic_launcher_foreground.png
/proyecto2/android/build/generated/res/pngs/debug/drawable-mdpi/ic_launcher_foreground.png
/proyecto2/android/build/generated/res/pngs/debug/drawable-xhdpi/ic_launcher_foreground.png
/proyecto2/android/build/generated/res/pngs/debug/drawable-xxhdpi/ic_launcher_foreground.png
/proyecto2/android/build/generated/res/pngs/debug/drawable-xxxhdpi/ic_launcher_foreground.png
/proyecto2/android/build/generated/source/buildConfig/debug/com/mygdx/game/BuildConfig.java
/proyecto2/android/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/proyecto2/android/build/intermediates/app_metadata/debug/app-metadata.properties
/proyecto2/android/build/intermediates/assets/debug/mergeDebugAssets/badlogic.jpg
/proyecto2/android/build/intermediates/compatible_screen_manifest/debug/output-metadata.json
/proyecto2/android/build/intermediates/compile_and_runtime_not_namespaced_r_class_jar/debug/R.jar
/proyecto2/android/build/intermediates/compressed_assets/debug/out/assets/badlogic.jpg.jar
/proyecto2/android/build/intermediates/desugar_graph/debug/out/currentProject/dirs_bucket_0/graph.bin
/proyecto2/android/build/intermediates/desugar_graph/debug/out/currentProject/dirs_bucket_1/graph.bin
/proyecto2/android/build/intermediates/desugar_graph/debug/out/currentProject/dirs_bucket_2/graph.bin
/proyecto2/android/build/intermediates/desugar_graph/debug/out/currentProject/dirs_bucket_3/graph.bin
/proyecto2/android/build/intermediates/desugar_graph/debug/out/currentProject/dirs_bucket_4/graph.bin
/proyecto2/android/build/intermediates/desugar_graph/debug/out/currentProject/dirs_bucket_5/graph.bin
/proyecto2/android/build/intermediates/desugar_graph/debug/out/currentProject/jar_cfbad6a5bf65d6ac0ccd48bf7aaa70c4580bd322907898d6e0ee914da6c9c46e_bucket_0/graph.bin
/proyecto2/android/build/intermediates/desugar_graph/debug/out/currentProject/jar_cfbad6a5bf65d6ac0ccd48bf7aaa70c4580bd322907898d6e0ee914da6c9c46e_bucket_1/graph.bin
/proyecto2/android/build/intermediates/desugar_graph/debug/out/currentProject/jar_cfbad6a5bf65d6ac0ccd48bf7aaa70c4580bd322907898d6e0ee914da6c9c46e_bucket_2/graph.bin
/proyecto2/android/build/intermediates/desugar_graph/debug/out/currentProject/jar_cfbad6a5bf65d6ac0ccd48bf7aaa70c4580bd322907898d6e0ee914da6c9c46e_bucket_3/graph.bin
/proyecto2/android/build/intermediates/desugar_graph/debug/out/currentProject/jar_cfbad6a5bf65d6ac0ccd48bf7aaa70c4580bd322907898d6e0ee914da6c9c46e_bucket_4/graph.bin
/proyecto2/android/build/intermediates/desugar_graph/debug/out/currentProject/jar_cfbad6a5bf65d6ac0ccd48bf7aaa70c4580bd322907898d6e0ee914da6c9c46e_bucket_5/graph.bin
/proyecto2/android/build/intermediates/dex_archive_input_jar_hashes/debug/out
/proyecto2/android/build/intermediates/dex_number_of_buckets_file/debug/out
/proyecto2/android/build/intermediates/dex/debug/mergeDexDebug/classes.dex
/proyecto2/android/build/intermediates/external_libs_dex/debug/mergeExtDexDebug/classes.dex
/proyecto2/android/build/intermediates/incremental/debug-mergeJavaRes/merge-state
/proyecto2/android/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/1sq2eNQVa0CfUAt30_c_MJzZ+s4=
/proyecto2/android/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/bbGVckUNfpsSfoL2AxUFzaQsi9U=
/proyecto2/android/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/bMPp2AcvMTXqRSbLKbJ8efCD+0M=
/proyecto2/android/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/jmNiRF7RZw5hlFGjqmnVjrMShvk=
/proyecto2/android/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/S4ID5YWtffVL2KQ752KT6aAay+M=
/proyecto2/android/build/intermediates/incremental/debug/mergeDebugResources/compile-file-map.properties
/proyecto2/android/build/intermediates/incremental/debug/mergeDebugResources/merged.dir/values/values.xml
/proyecto2/android/build/intermediates/incremental/debug/mergeDebugResources/merger.xml
/proyecto2/android/build/intermediates/incremental/mergeDebugAssets/merger.xml
/proyecto2/android/build/intermediates/incremental/mergeDebugShaders/merger.xml
/proyecto2/android/build/intermediates/javac/debug/classes/com/mygdx/game/AndroidLauncher.class
/proyecto2/android/build/intermediates/javac/debug/classes/com/mygdx/game/BuildConfig.class
/proyecto2/android/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/proyecto2/android/build/intermediates/merged_java_res/debug/base.jar
/proyecto2/android/build/intermediates/merged_manifest/debug/AndroidManifest.xml
/proyecto2/android/build/intermediates/merged_manifests/debug/AndroidManifest.xml
/proyecto2/android/build/intermediates/merged_manifests/debug/output-metadata.json
/proyecto2/android/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/debug.json
/proyecto2/android/build/intermediates/merged_res_blame_folder/debug/out/multi-v2/values.json
/proyecto2/android/build/intermediates/merged_res_blame_folder/debug/out/single/debug.json
/proyecto2/android/build/intermediates/merged_res/debug/drawable-anydpi-v21_ic_launcher_foreground.xml.flat
/proyecto2/android/build/intermediates/merged_res/debug/drawable-anydpi-v26_ic_launcher.xml.flat
/proyecto2/android/build/intermediates/merged_res/debug/drawable-hdpi_ic_launcher_foreground.png.flat
/proyecto2/android/build/intermediates/merged_res/debug/drawable-hdpi_ic_launcher.png.flat
/proyecto2/android/build/intermediates/merged_res/debug/drawable-ldpi_ic_launcher_foreground.png.flat
/proyecto2/android/build/intermediates/merged_res/debug/drawable-mdpi_ic_launcher_foreground.png.flat
/proyecto2/android/build/intermediates/merged_res/debug/drawable-mdpi_ic_launcher.png.flat
/proyecto2/android/build/intermediates/merged_res/debug/drawable-xhdpi_ic_launcher_foreground.png.flat
/proyecto2/android/build/intermediates/merged_res/debug/drawable-xhdpi_ic_launcher.png.flat
/proyecto2/android/build/intermediates/merged_res/debug/drawable-xxhdpi_ic_launcher_foreground.png.flat
/proyecto2/android/build/intermediates/merged_res/debug/drawable-xxhdpi_ic_launcher.png.flat
/proyecto2/android/build/intermediates/merged_res/debug/drawable-xxxhdpi_ic_launcher_foreground.png.flat
/proyecto2/android/build/intermediates/merged_res/debug/drawable-xxxhdpi_ic_launcher.png.flat
/proyecto2/android/build/intermediates/merged_res/debug/values_values.arsc.flat
/proyecto2/android/build/intermediates/navigation_json/debug/navigation.json
/proyecto2/android/build/intermediates/packaged_manifests/debug/AndroidManifest.xml
/proyecto2/android/build/intermediates/packaged_manifests/debug/output-metadata.json
/proyecto2/android/build/intermediates/processed_res/debug/out/output-metadata.json
/proyecto2/android/build/intermediates/processed_res/debug/out/resources-debug.ap_
/proyecto2/android/build/intermediates/project_dex_archive/debug/out/65e7a9ca7a97387ff7012a4f6bbd88a6ec9cbc807879c3ca1edff047b5921242_0.jar
/proyecto2/android/build/intermediates/project_dex_archive/debug/out/com/mygdx/game/AndroidLauncher.dex
/proyecto2/android/build/intermediates/project_dex_archive/debug/out/com/mygdx/game/BuildConfig.dex
/proyecto2/android/build/intermediates/runtime_symbol_list/debug/R.txt
/proyecto2/android/build/intermediates/signing_config_versions/debug/signing-config-versions.json
/proyecto2/android/build/intermediates/source_set_path_map/debug/file-map.txt
/proyecto2/android/build/intermediates/stable_resource_ids_file/debug/stableIds.txt
/proyecto2/android/build/outputs/logs/manifest-merger-debug-report.txt
/proyecto2/android/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
/proyecto2/android/ic_launcher-web.png
/proyecto2/android/proguard-rules.pro
/proyecto2/android/project.properties
/proyecto2/android/res/drawable-anydpi-v26/ic_launcher_foreground.xml
/proyecto2/android/res/drawable-anydpi-v26/ic_launcher.xml
/proyecto2/android/res/drawable-hdpi/ic_launcher.png
/proyecto2/android/res/drawable-mdpi/ic_launcher.png
/proyecto2/android/res/drawable-xhdpi/ic_launcher.png
/proyecto2/android/res/drawable-xxhdpi/ic_launcher.png
/proyecto2/android/res/drawable-xxxhdpi/ic_launcher.png
/proyecto2/android/res/values/color.xml
/proyecto2/android/res/values/strings.xml
/proyecto2/android/src/com/mygdx/game/AndroidLauncher.java
/proyecto2/assets/Botones/gameOverMenu.png
/proyecto2/assets/Botones/menu.png
/proyecto2/assets/Botones/quitButton.png
/proyecto2/assets/Botones/saveButton.png
/proyecto2/assets/Botones/scoreBoardMenu.png
/proyecto2/assets/Botones/scoreButton.png
/proyecto2/assets/Botones/startButton.png
/proyecto2/assets/Botones/tutorial.png
/proyecto2/assets/Botones/utn.png
/proyecto2/assets/Botones/youWinButton.png
/proyecto2/assets/Botones/YouWinMenu.png
/proyecto2/assets/Level1/level1.tiled-project
/proyecto2/assets/Level1/level1.tiled-session
/proyecto2/assets/Level1/tileset_final.tsx
/proyecto2/assets/Level1/tileset.psd
/proyecto2/assets/Level2/level2.tiled-project
/proyecto2/core/build/.transforms/0166e253d63e2b0bcf0d4e3acc14bd91/results.bin
/proyecto2/core/build/.transforms/8cf8d9753672b26e53aa4ed756ad3793/results.bin
/proyecto2/core/build/.transforms/a1033f0151f08ffd395bf5c8cd970a48/results.bin
/proyecto2/core/build/.transforms/c72b398a0489f292981cfc53e2a08abc/results.bin
/proyecto2/core/build/.transforms/c72b398a0489f292981cfc53e2a08abc/transformed/desugar_graph.bin
/proyecto2/core/build/.transforms/c72b398a0489f292981cfc53e2a08abc/transformed/main/com/mygdx/game/MyGdxGame.dex
/proyecto2/core/build/classes/java/main/com/mygdx/game/Enum/Direcciones.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Enum/State.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/MarioBros.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Pantallas/GameOver.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Pantallas/Interfaces/IJackson.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Pantallas/MenuPrincipal.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Pantallas/MenuPrincipal$1.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Pantallas/MenuPrincipal$2.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Pantallas/MenuPrincipal$3.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Pantallas/PantallaFinal.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Pantallas/PantallaFinal$1.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Pantallas/PantallaInicial.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Pantallas/PantallaPedidosYA.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Pantallas/PantallaUTN.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Pantallas/PantallaWin.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Pantallas/ScoreBoard.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Pantallas/ScoreBoard$1.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/PlayScreen.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Scenes/Hud.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/sprites/Enemigos/Enemigo.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/sprites/Jugador.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/sprites/Mario.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/sprites/Mario$1.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/sprites/ObjectTile/Brick.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/sprites/ObjectTile/Coins.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/sprites/ObjectTile/InteractiveTileObject.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Tools/B2WorldCreator.class
/proyecto2/core/build/classes/java/main/com/mygdx/game/Tools/WorldContactListener.class
/proyecto2/core/build/libs/core-1.0.jar
/proyecto2/core/build/tmp/compileJava/previous-compilation-data.bin
/proyecto2/core/build/tmp/jar/MANIFEST.MF
/proyecto2/desktop/build/classes/java/main/com/mygdx/game/DesktopLauncher.class
/proyecto2/desktop/build/resources/main/badlogic.jpg
/proyecto2/desktop/build/resources/main/Botones/gameOverMenu.png
/proyecto2/desktop/build/resources/main/Botones/menu.png
/proyecto2/desktop/build/resources/main/Botones/quitButton.png
/proyecto2/desktop/build/resources/main/Botones/saveButton.png
/proyecto2/desktop/build/resources/main/Botones/scoreBoardMenu.png
/proyecto2/desktop/build/resources/main/Botones/scoreButton.png
/proyecto2/desktop/build/resources/main/Botones/startButton.png
/proyecto2/desktop/build/resources/main/Botones/tutorial.png
/proyecto2/desktop/build/resources/main/Botones/utn.png
/proyecto2/desktop/build/resources/main/Botones/youWinButton.png
/proyecto2/desktop/build/resources/main/Botones/YouWinMenu.png
/proyecto2/desktop/build/resources/main/goomba1.png
/proyecto2/desktop/build/resources/main/Level1/level1.tiled-project
/proyecto2/desktop/build/resources/main/Level1/level1.tiled-session
/proyecto2/desktop/build/resources/main/Level1/level1.tmx
/proyecto2/desktop/build/resources/main/Level1/tileset_final.png
/proyecto2/desktop/build/resources/main/Level1/tileset_final.psd
/proyecto2/desktop/build/resources/main/Level1/tileset_final.tsx
/proyecto2/desktop/build/resources/main/Level1/tileset.psd
/proyecto2/desktop/build/resources/main/Level2/level2.tiled-project
/proyecto2/desktop/build/resources/main/Level2/level2.tiled-session
/proyecto2/desktop/build/resources/main/Level2/level2.tmx
/proyecto2/desktop/build/resources/main/Level2/tileset_final.png
/proyecto2/desktop/build/resources/main/Level2/tileset_final.tsx
/proyecto2/desktop/build/resources/main/little_johhny.png
/proyecto2/desktop/build/resources/main/little_mario.png
/proyecto2/desktop/build/resources/main/Logos/logoPEDIDOSYA.png
/proyecto2/desktop/build/resources/main/Logos/logoUTN.png
/proyecto2/desktop/build/resources/main/Logos/logoUTN2.png
/proyecto2/desktop/build/resources/main/Map/MarioMap.tmx
/proyecto2/desktop/build/resources/main/Map/TiledMap.tiled-project
/proyecto2/desktop/build/resources/main/Map/TiledMap.tiled-session
/proyecto2/desktop/build/resources/main/Map/tileset_gutter.png
/proyecto2/desktop/build/resources/main/Map/tileset_gutter.tsx
/proyecto2/desktop/build/resources/main/MapaV2/PedidosYaMap.tmx
/proyecto2/desktop/build/resources/main/MapaV2/TiledMap.tiled-project
/proyecto2/desktop/build/resources/main/MapaV2/TiledMap.tiled-session
/proyecto2/desktop/build/resources/main/MapaV2/tileset_gutter.png
/proyecto2/desktop/build/resources/main/MapaV2/tileset_gutter.psd
/proyecto2/desktop/build/resources/main/MapaV2/tileset_gutter2.png
/proyecto2/desktop/build/resources/main/MapaV2/tileset_gutter2.tsx
/proyecto2/desktop/build/resources/main/MapaV2/tileset_gutter3.png
/proyecto2/desktop/build/resources/main/MapaV2/tileset_gutter3.tsx
/proyecto2/desktop/build/resources/main/MapaV2/tileset_gutter4.png
/proyecto2/desktop/build/resources/main/MapaV2/tileset_gutter4.tsx
/proyecto2/desktop/build/resources/main/MapaV2/tileset_v2.tsx
/proyecto2/desktop/build/resources/main/Mario_and_Enemies.pack
/proyecto2/desktop/build/resources/main/Mario_and_Enemies.png
/proyecto2/desktop/build/resources/main/Musica/dingdong.wav
/proyecto2/desktop/build/resources/main/Musica/music.ogg
/proyecto2/desktop/build/resources/main/Musica/wasted.wav
/proyecto2/desktop/build/resources/main/Musica/You-Win.wav
/proyecto2/desktop/build/tmp/compileJava/previous-compilation-data.bin
/proyecto2/local.properties
/.idea/uiDesigner.xml
/proyecto2/.gitignore
/proyecto2/android/AndroidManifest.xml
/proyecto2/android/build.gradle
/proyecto2/android/ic_launcher-web.png
/proyecto2/android/proguard-rules.pro
/proyecto2/android/project.properties
/proyecto2/android/res/drawable-anydpi-v26/ic_launcher_foreground.xml
/proyecto2/android/res/drawable-anydpi-v26/ic_launcher.xml
/proyecto2/android/res/drawable-hdpi/ic_launcher.png
/proyecto2/android/res/drawable-mdpi/ic_launcher.png
/proyecto2/android/res/drawable-xhdpi/ic_launcher.png
/proyecto2/android/res/drawable-xxhdpi/ic_launcher.png
/proyecto2/android/res/drawable-xxxhdpi/ic_launcher.png
/proyecto2/android/res/values/color.xml
/proyecto2/android/res/values/strings.xml
/proyecto2/android/src/com/mygdx/game/AndroidLauncher.java
/proyecto2/assets/Botones/gameOverMenu.png
/proyecto2/assets/Botones/menu.png
/proyecto2/assets/Botones/quitButton.png
/proyecto2/assets/Botones/saveButton.png
/proyecto2/assets/Botones/scoreBoardMenu.png
/proyecto2/assets/Botones/scoreButton.png
/proyecto2/assets/Botones/startButton.png
/proyecto2/assets/Botones/tutorial.png
/proyecto2/assets/Botones/utn.png
/proyecto2/assets/Botones/youWinButton.png
/proyecto2/assets/Botones/YouWinMenu.png
/proyecto2/assets/Level1/level1.tiled-project
/proyecto2/assets/Level1/level1.tiled-session
/proyecto2/assets/Level1/tileset_final.tsx
/proyecto2/assets/Level1/tileset.psd
/proyecto2/assets/Level2/level2.tiled-project
