# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/android.lock
/caches/modules-2/files-2.1/com.android.tools.build/aapt2-proto/7.3.0-8691043/b5b6a8573e38f7d933cb1a2af7c24ac370273d0c/aapt2-proto-7.3.0-8691043.pom
/caches/modules-2/files-2.1/com.android.tools.build/aapt2-proto/7.3.0-8691043/e729a05c85f381383ee869efe6073eebc1edf72b/aapt2-proto-7.3.0-8691043.module
/caches/modules-2/files-2.1/com.android.tools.build/aaptcompiler/7.3.0/524ac205c4c1fa609a3b10c9bb244e1e6e94eb04/aaptcompiler-7.3.0.pom
/caches/modules-2/files-2.1/com.android.tools.build/aaptcompiler/7.3.0/a64c6c4da81e21822faceed0549194be16899d89/aaptcompiler-7.3.0.module
/caches/modules-2/files-2.1/com.android.tools.build/apksig/7.3.0/32f949a94dedcec7a5ac527e0e8ff3b880ee34c/apksig-7.3.0.pom
/caches/modules-2/files-2.1/com.android.tools.build/apkzlib/7.3.0/996019b93553e901fa8a969151f80385ac9d0e43/apkzlib-7.3.0.pom
/caches/modules-2/files-2.1/com.android.tools.build/builder-model/7.3.0/2fd915a51af9eb49547fc60a0b631ede09fd892d/builder-model-7.3.0.module
/caches/modules-2/files-2.1/com.android.tools.build/builder-model/7.3.0/ba2ffc5363d04c7c0e845b84062fa2bf0ec2710e/builder-model-7.3.0.pom
/caches/modules-2/files-2.1/com.android.tools.build/builder-test-api/7.3.0/ba24a024d67c4cd28cccb846a0a9413cf31df16d/builder-test-api-7.3.0.pom
/caches/modules-2/files-2.1/com.android.tools.build/builder-test-api/7.3.0/fb067b530d1656e87c6dca4ff48e75c99c1724d8/builder-test-api-7.3.0.module
/caches/modules-2/files-2.1/com.android.tools.build/builder/7.3.0/7fe3aad4a301ef77ed4a5d3508d00e35cf78f730/builder-7.3.0.module
/caches/modules-2/files-2.1/com.android.tools.build/builder/7.3.0/c38df6581b4a9323d86c5ed8d5fdc6f21a76bd26/builder-7.3.0.pom
/caches/modules-2/files-2.1/com.android.tools.build/bundletool/1.9.0/11887c6139361a6f5abd709cb3504631ff0fbb49/bundletool-1.9.0.pom
/caches/modules-2/files-2.1/com.android.tools.build/gradle-api/7.3.0/8d7e2ef57f55fe1d2715d716814e92fb744243a/gradle-api-7.3.0.pom
/caches/modules-2/files-2.1/com.android.tools.build/gradle-api/7.3.0/bbb563dfed78a225541bb5f903aa00a9e64d35c5/gradle-api-7.3.0.module
/caches/modules-2/files-2.1/com.android.tools.build/gradle/7.3.0/4c12baad720892462c567b21c9218387684260c8/gradle-7.3.0.module
/caches/modules-2/files-2.1/com.android.tools.build/gradle/7.3.0/ed2c05f9e1c0f6be16b17c3309a6706339d123db/gradle-7.3.0.pom
/caches/modules-2/files-2.1/com.android.tools.build/manifest-merger/30.3.0/592aef897de97e66a1f6378a1481000e1cc3ce24/manifest-merger-30.3.0.module
/caches/modules-2/files-2.1/com.android.tools.build/manifest-merger/30.3.0/bb152c5d86630776bf078b22f45760441285c4d2/manifest-merger-30.3.0.pom
/caches/modules-2/files-2.1/com.android.tools.build/transform-api/2.0.0-deprecated-use-gradle-api/d2a89c5569f53a8c8adfe599ede88cb6f38a8a6e/transform-api-2.0.0-deprecated-use-gradle-api.pom
/caches/modules-2/files-2.1/com.android.tools.utp/android-device-provider-ddmlib-proto/30.3.0/d8d8d6d8ec9bc8893e8e2feb8e7544aaedfa762c/android-device-provider-ddmlib-proto-30.3.0.pom
/caches/modules-2/files-2.1/com.android.tools.utp/android-device-provider-gradle-proto/30.3.0/f02909cc34a04f0a2a55ae4d410f8a52a7a6067d/android-device-provider-gradle-proto-30.3.0.pom
/caches/modules-2/files-2.1/com.android.tools.utp/android-test-plugin-host-additional-test-output-proto/30.3.0/38082b02882dda8637b2bf5fe381b1016f5954f7/android-test-plugin-host-additional-test-output-proto-30.3.0.pom
/caches/modules-2/files-2.1/com.android.tools.utp/android-test-plugin-host-coverage-proto/30.3.0/b3d9775005f04c2bdd25cb5c254eb0c4a8e86dc7/android-test-plugin-host-coverage-proto-30.3.0.pom
/caches/modules-2/files-2.1/com.android.tools.utp/android-test-plugin-host-retention-proto/30.3.0/6848d5507fc7cb79f6007544f8409b12e78d3635/android-test-plugin-host-retention-proto-30.3.0.pom
/caches/modules-2/files-2.1/com.android.tools.utp/android-test-plugin-result-listener-gradle-proto/30.3.0/52612e16f5daccb341661ba59dee3a984b9c679a/android-test-plugin-result-listener-gradle-proto-30.3.0.pom
/caches/modules-2/files-2.1/com.google.guava/failureaccess/1.0.1/e8160e78fdaaf7088621dc1649d9dd2dfcf8d0e8/failureaccess-1.0.1.pom
/caches/modules-2/files-2.1/com.google.guava/guava-parent/26.0-android/a2c0df489614352b7e8e503e274bd1dee5c42a64/guava-parent-26.0-android.pom
/caches/modules-2/files-2.1/com.google.guava/guava-parent/30.1-jre/b732bbf7c4ceb14dfd6af514a8b8b71dd952e53b/guava-parent-30.1-jre.pom
/caches/modules-2/files-2.1/com.google.guava/guava/30.1-jre/4056c9385578a442117d1a68118def38087164da/guava-30.1-jre.pom
/caches/modules-2/files-2.1/com.google.guava/listenablefuture/9999.0-empty-to-avoid-conflict-with-guava/1b77ba79f9b2b7dfd4e15ea7bb0d568d5eb9cb8d/listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.pom
